# Aula 05 - Introdução ao List Comprehension e Format

>Nessa aula iremos dar introdução ao list comprehension, uma forma mais simples de realizar conversões de valores entre duas ou mais listas. Autalmente é uma das formas mais rápidas de se aplicar conversões, substituindo as declarações mais extensas do que o metodo conversional, lambda e o map

## Exemplo 1 - Conversão de Celsius para Fahrenheit

In [10]:
celsius = [10,20,24,35,50]
fahrenheit = [round(x*1.8+32,2) for x in celsius]
print (fahrenheit)

[50.0, 68.0, 75.2, 95.0, 122.0]

In [13]:
print("{:<8}{:<6}".format("Celsius","Fahrenheit"))
print("==================")
x = 0
while(x<len(celsius)):
    print("{:<8}{:<6}".format(celsius[x],fahrenheit[x]))
    x +=1

Celsius Fahrenheit
==================
10      50.0
20      68.0
24      75.2
35      95.0
50      122.0

## Exemplo 2 - Conversão de Kmh para Mph

In [64]:
kmh = [40,47,55,70,85]
mph = [round(x/1.61,2) for x in kmh]
print(mph)

[24.84, 29.19, 34.16, 43.48, 52.8]

In [65]:
print("{:<6}{:<6}".format("kmh","mph"))
print("===========")
x = 0
while(x<len(kmh)):
    print("{:<6}{:<6}".format(kmh[x],mph[x]))
    x +=1

kmh   mph
===========
40    24.84
47    29.19
55    34.16
70    43.48
85    52.8

>Crie uma lista com 10 valores em metros. Crie uma tabela de conversão para polegada, pés, jardas e milhas marítimas. Listando o número da linha e o cabeçalho da tabela.

In [78]:
numeros = [1,2,3,4,5,6,7,8,9,10]
metros = [170,200,30,400,500,150,75,89,140,930]

metros.sort()
polegada = [round(x/39.37,2) for x in metros]
pés = [round(x/3.281,2) for x in metros]
jardas = [round(x/1.094,2) for x in metros]
milhasmaritmas = [round((x*0.6214)/1000,3) for x in metros]

print(numeros)
print(polegada)
print(pés)
print(jardas)
print(milhasmaritmas)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0.76, 1.91, 2.26, 3.56, 3.81, 4.32, 5.08, 10.16, 12.7, 23.62]
[9.14, 22.86, 27.13, 42.67, 45.72, 51.81, 60.96, 121.91, 152.39, 283.45]
[27.42, 68.56, 81.35, 127.97, 137.11, 155.39, 182.82, 365.63, 457.04, 850.09]
[0.019, 0.047, 0.055, 0.087, 0.093, 0.106, 0.124, 0.249, 0.311, 0.578]

In [80]:
print("{:<10}{:<10}{:<10}{:<10}{:<10}{:<10}".format("numeros","metros","polegada","pés","jardas","milhasmaritmas"))
print("================================================================")
x = 0
while(x<len(metros)):
    print("{:<10}{:<10}{:<10}{:<10}{:<10}{:<10}".format(numeros[x],metros[x],polegada[x],pés[x],jardas[x],milhasmaritmas[x]))
    x +=1

numeros   metros    polegada  pés       jardas    milhasmaritmas
================================================================
1         30        0.76      9.14      27.42     0.019
2         75        1.91      22.86     68.56     0.047
3         89        2.26      27.13     81.35     0.055
4         140       3.56      42.67     127.97    0.087
5         150       3.81      45.72     137.11    0.093
6         170       4.32      51.81     155.39    0.106
7         200       5.08      60.96     182.82    0.124
8         400       10.16     121.91    365.63    0.249
9         500       12.7      152.39    457.04    0.311
10        930       23.62     283.45    850.09    0.578

# Exercício 2

>Crie uma lista com 10 valores em Kelvin. Crie uma tabela de conversão para Celsius e Fahrenheit, listando o número da linha e o cabeçalho da tabela.

In [93]:

k = [10,20,30,40,50,60,70,80,90,100]
k.sort
c = [round(x/39.37,2) for x in k]
f = [round(x/3.281,2) for x in k]

print("{:<4}{:<9}{:<8}{:<8}".format("Nº","Kº","Cº","Fº"))
print("==============================")
for v in range (0)
    print("{:<4}{:<9}{:<8}{:<8}".format(k[x],c[x],f[x]))
    x +=1

Nº  Kº       Cº      Fº
==============================

IndexError: Replacement index 3 out of range for positional args tuple

## Exercício 3 
>Crie uma lista com 10 pesos em kilos. Faça a conversão para o peso na Terra, Lua, Júpiter, Saturno e Mercúrio. Monte uma tabela com o cabeçalho e a numeração conforme os exercícios passados.